/*
* Style tweaks
* --------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html, body {
  overflow-x: hidden;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
    margin:0; padding:0;
}
.title{margin: 0 0 30px; display: inline-block; text-transform: uppercase; font-weight: 400; padding: 10px; text-align: center; position: relative; border-bottom: 1px solid #f06d27;}
.title::before{content: ""; display: inline-block; position: absolute; bottom: -4px; width: 8px; height: 8px; border: 1px solid #f06d27; background-color: #ffffff; transform: rotate(45deg); left: 0;}
.title::after{content: ""; display: inline-block; position: absolute; bottom: -4px; width: 8px; height: 8px; border: 1px solid #f06d27; background-color: #ffffff; transform: rotate(45deg); right: 0;}
header{/*background: #000 url("../images/header-bg.png");*/ background:#F6F6F6; color: #ffffff;}
header .nav_menu{margin-bottom: 0; color: #ffffff; border:none; background-color: transparent;}
header .nav_menu .navbar-brand {color: #fff; height: auto;}
header .nav_menu.navbar-default .navbar-brand:focus, header .nav_menu.navbar-default .navbar-brand:hover{color: #ffffff;}
header .nav_menu .navbar-nav{width: 85%; text-align: center; padding: 14px 0;}
header .nav_menu .navbar-nav > li{float: none; display: inline-block;} 
header .nav_menu .navbar-nav > li > a{color: #6d6e70; position: relative; font-weight: 400; text-transform: uppercase;
}
header .nav_menu .navbar-nav > li > a:hover, header .nav_menu .navbar-nav > li > a:hover{color: #6d6e70;}
header .nav_menu .navbar-nav > li > a::after {content: ""; width: 0; height: 3px; background: #f06d27; display: block; position: absolute; bottom: 0; right: 0; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
header .nav_menu .navbar-nav > li > a:hover::after{width: 100%;}
header .nav_menu .navbar-nav > li.active > a, header .nav_menu .navbar-nav > li.active > a:hover, header .nav_menu .navbar-nav > li.active > a:focus{color: #6d6e70; background-color: transparent;}
header .nav_menu .navbar-nav > li.active > a::after{width: 100%;}
header .nav_menu .navbar-nav > .open > a, header .nav_menu .navbar-nav > .open > a:focus, header .nav_menu .navbar-nav > .open > a:hover{color: #6d6e70; background-color: transparent;}

.owl-carousel.main_slider .owl-nav .owl-prev{position: absolute; left: 3%; top: 50%; width: 40px; height: 40px; background: rgba(255, 255, 255, 0.5); border-radius: 50%; line-height: 35px; text-align: center; font-size: 25px; font-weight: 300; color: #333; box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);}
.owl-carousel.main_slider .owl-nav .owl-next{position: absolute; right: 3%; top: 50%; width: 40px; height: 40px; background: rgba(255, 255, 255, 0.5); border-radius: 50%; line-height: 35px; text-align: center; font-size: 25px; font-weight: 300; color: #333; box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);}

.home_about{/*border:1px solid red;*/}
.home_about .sec_wrapper{padding: 0 0 40px;}
.home_about .header{text-align: center; padding: 45px 0 0;}
.home_about .title{margin: 0 0 30px; display: inline-block; text-transform: uppercase; font-weight: 400; padding: 10px; text-align: center; position: relative; border-bottom: 1px solid #f06d27;}
.home_about .title::before{content: ""; display: inline-block; position: absolute; bottom: -4px; width: 8px; height: 8px; border: 1px solid #f06d27; background-color: #ffffff; transform: rotate(45deg); left: 0;}
.home_about .title::after{content: ""; display: inline-block; position: absolute; bottom: -4px; width: 8px; height: 8px; border: 1px solid #f06d27; background-color: #ffffff; transform: rotate(45deg); right: 0;}
.home_about .content{text-align: center;}
.home_about .content p{text-align: center; font-weight: 300;}

.home_pro{position: relative; padding: 0 0 40px;}
.home_pro::before{content: ""; height: 100%; position: absolute; top: 0; width: 100%; z-index: -1; background: #f6f6f6 none repeat scroll 0 0; transform: skewY(-1.7deg);}
.home_pro .sec_wrapper{padding: 40px 0;}
.home_pro .header{text-align: center;}
.home_pro .owl-carousel.home_new_pro .owl-nav .owl-prev{font-size: 2.4rem; border: 1px solid #f06d27; left: -16px; color: #f06d27; background-color: #ffffff; width: 32px; height: 32px; text-align: center; line-height: 32px; position: absolute; top: 50%;
transform: translateY(-50%) rotate(45deg); transition: all 0.3s ease; }
.home_pro .owl-carousel.home_new_pro .owl-nav .owl-prev i{transform: rotate(-45deg); padding-bottom: 15px; padding-left: 8px;
}
.home_pro .owl-carousel.home_new_pro .owl-nav .owl-next{font-size: 2.4rem; border: 1px solid #f06d27; right: -16px; color: #f06d27; background-color: #ffffff; width: 32px; height: 32px; text-align: center; line-height: 32px; position: absolute; top: 50%;
transform: translateY(-50%) rotate(45deg); transition: all 0.3s ease;}
.home_pro .owl-carousel.home_new_pro .owl-nav .owl-next i{transform: rotate(-45deg); padding-left: 20px; padding-bottom: 16px;
}
.home_pro .pro_block{border-left: none;}
.home_pro .pro_block .block{border-left: none; margin-bottom: 0;}
/*.home_pro .block{height: 307px; border-left: none;}*/
.home_pro .block a{}
.home_pro .block img{}
.home_pro .pro_block .block .pro_caption{background: #ffffff; border-bottom: 2px solid #F06D27;}
.home_pro .pro_tittle{}
.home_pro .pro_tittle a{display: block; text-align: center; text-transform: uppercase; color: #333; text-decoration: none; font-weight: 400; padding:5px 5px 0;}
.home_pro .pro_brand{}
.home_pro .pro_brand a{display: block; text-align: center; color: #333; text-decoration: none; font-weight: 400; padding:0 5px 5px;}
.home_pro .pro_price{margin: 0 auto; padding: 5px 0; width: 100%; color: #606060; text-align: center;}
.home_pro .pro_price span{display: inline; padding: 10px;}
.home_pro .pro_price .pro_old{position: relative; text-decoration: line-through;}
.home_pro .pro_price .pro_old::after{content""; display: inline-block; width: 100%; height: 1px; background: #000; position: absolute; left: 0; right: 0; margin: 0 auto; top: 50%;}
.home_pro .pro_price .pro_new{}
.home_pro .buy_btn{border-radius: 0; padding: 8px 10px; display: block; background-color: #f06d27; border-color: #f06d27; font-size: 16px; font-weight: 400; text-transform: uppercase; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
.home_pro .buy_btn:hover, .home_pro .buy_btn:active, .home_pro .buy_btn:focus{background-color: #f06d27; border-color: #f06d27; color: #333;}
footer{background: #333; color: #fff; padding: 30px 0;}
footer .footer_list .heading{margin-bottom: 18px;}
footer .footer_list ul{}
footer .footer_list ul li{color: #fff; font-weight: 300; margin-bottom: 8px;}
footer .footer_list ul li:last-child{margin-bottom: 0;}
footer .footer_list ul li a{text-decoration: none; color: #fff; font-weight: 300;}
footer .footer_list.contact_info ul li{position: relative; padding-left: 20px;}
footer .footer_list.contact_info ul li:last-child{padding-left: 0;}
footer .footer_list.contact_info ul li i{position: absolute; left: 0; top: 3px;}
footer .footer_list.enquiry input{border-radius: 0; background-color: transparent; border: none; border-bottom-width: medium;
    border-bottom-style: none; border-bottom-color: currentcolor; border-bottom: 1px solid #fff; color: #fff; box-shadow: none;
height: 25px; padding: 0 12px; font-weight: 300; font-size: 13px;}
footer .footer_list.enquiry textarea{border-radius: 0; background-color: transparent; border: none; border-bottom-width: medium;
    border-bottom-style: none; border-bottom-color: currentcolor; border-bottom: 1px solid #fff; color: #fff; box-shadow: none;
height: 80px; padding: 0 12px; resize: none; font-weight: 300; font-size: 13px;}
footer .footer_list.enquiry .form-group {margin-bottom: 8px;}
footer .footer_list.enquiry .enquiry_btn {display: block; border-radius: 0; padding: 8px 12px; width: 100%; color: #333; background-color: #fff; border-color: #fff; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
footer .footer_list.enquiry .enquiry_btn:hover{background-color: #f06d27; border-color: #f06d27; color: #fff; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
footer .footer_list .partner_btn{background-color: #f06d27; border-color: #f06d27; text-transform: uppercase; font-size: 16px;
font-weight: 400; padding: 8px 12px; border-radius: 0; margin: 15px 0 0; }


footer .footer_list.enquiry input::-webkit-input-placeholder {color: #fff; font-weight: 300; font-size: 13px; opacity: 1;}
footer .footer_list.enquiry input::-moz-placeholder {color: #fff; font-weight: 300; font-size: 13px; opacity: 1;}
footer .footer_list.enquiry input:-ms-input-placeholder {color: #fff; font-weight: 300; font-size: 13px; opacity: 1;}
footer .footer_list.enquiry input:-moz-placeholder {color: #fff; font-weight: 300; font-size: 13px; opacity: 1;}

footer .footer_list.enquiry textarea::-webkit-input-placeholder {color: #fff; font-weight: 300; font-size: 13px; opacity: 1;}
footer .footer_list.enquiry textarea::-moz-placeholder {color: #fff; font-weight: 300; font-size: 13px; opacity: 1;}
footer .footer_list.enquiry textarea:-ms-input-placeholder {color: #fff; font-weight: 300; font-size: 13px; opacity: 1;}
footer .footer_list.enquiry textarea:-moz-placeholder {color: #fff; font-weight: 300; font-size: 13px; opacity: 1;}

.copy_right{background:#242424; color: #fff; padding-top: 10px;}
.copy_right p{font-weight: 300; font-size: 13px;}

.home footer{margin-top: 50px; position: relative;}
.home footer::before{content: ""; height: 100%; position: absolute; top: -50px; width: 100%; z-index: -1; background: #333 none repeat scroll 0 0; transform: skewY(-1.7deg);}






.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 75%;
    box-shadow: none;
    -webkit-box-shadow: none;
    left: 0;
	right: 0;
	margin: 0 auto;
}
/*.mega-dropdown-menu > li.border_right{border-right: 1px solid #ddd;}*/
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 16px;
  color: #ff3546;
  padding: 0;
  line-height: 30px;
}
.mega-dropdown-menu .dropdown-header a{color: #F06D27;}
.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

#pro_enquiry_modal .modal-header{padding: 10px 15px; border-bottom: 1px solid #fff; background: #333; color: #fff;     border-radius: 4px 4px 0 0; border-top: 2px solid #F06D27;}
#pro_enquiry_modal .modal-header .close{color: #fff;}
#pro_enquiry_modal .modal-body{padding: 10px 15px;}
#pro_enquiry_modal .modal-body input{border-radius: 0; border: none; border-bottom: 1px solid #ccc; box-shadow: none; padding: 0 12px; height: 26px;}
#pro_enquiry_modal .modal-body input:focus{border-bottom: 1px solid #F06D27;}
#pro_enquiry_modal .modal-body textarea{resize: none; border-radius: 0; border: none; border-bottom: 1px solid #ccc; box-shadow: none; padding: 0 12px; height: 100px;}
#pro_enquiry_modal .modal-body textarea:focus{border-bottom: 1px solid #F06D27;}
#pro_enquiry_modal .modal-footer{background: #333; border-top: 1px solid #fff; border-radius: 0 0 4px 4px;     border-bottom: 2px solid #F06D27;}
#pro_enquiry_modal .modal-footer .btn-default{color: #333; background: #fff; border-color: #fff; padding: 6px 15px; text-transform: capitalize; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
#pro_enquiry_modal .modal-footer .btn-default:hover, #pro_enquiry_modal .modal-footer .btn-default:focus, #pro_enquiry_modal .modal-footer .btn-default:active{background: #F06D27; border-color: #F06D27; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}

#pro_detail_modal .left_sec .pro_name{font-size: 18px; font-weight: 700; margin-top: 0;}
#pro_detail_modal .left_sec .modal_name{margin: 0;}
#pro_detail_modal .left_sec .image{width: 60%; margin: 0 auto; text-align: center;}
#pro_detail_modal .left_sec .pro_info{background: #fff;}
#pro_detail_modal .left_sec .pro_info .new_price{display: inline-block; vertical-align: middle; color: #48a5cc; font-size: 32px; font-weight: 200;  margin-right: 10px;}
#pro_detail_modal .left_sec .pro_info .old_price{display: inline-block; vertical-align: middle; color: #acacac;
    font-size: 18px; font-weight: 200; text-decoration: line-through;}
#pro_detail_modal .left_sec .pro_info .nav-tabs{text-align: center; border-bottom: none;}
#pro_detail_modal .left_sec .pro_info .nav-tabs>li{float: none; display: inline-block;}
#pro_detail_modal .left_sec .pro_info .nav-tabs>li a{padding: 5px 10px; color: #333; background: #fff;  text-transform: capitalize;}
#pro_detail_modal .left_sec .pro_info .nav-tabs>li a:hover{border-color: transparent;}
#pro_detail_modal .left_sec .pro_info .nav-tabs>li.active>a, #pro_detail_modal .left_sec .pro_info .nav-tabs>li.active>a:focus, #pro_detail_modal .left_sec .pro_info .nav-tabs>li.active>a:hover{border: 1px solid transparent; border-bottom: 2px solid #F06D27;}
#pro_detail_modal .left_sec .pro_info .tab-content{padding: 5px; border: 1px solid #ddd;}
#pro_detail_modal .left_sec .pro_info .info_list li{position: relative; padding-left: 15px;}
#pro_detail_modal .left_sec .pro_info .info_list li::before{content: "\f111"; display: inline-block; font: normal normal normal 7px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; position: absolute; top: 7px; left: 3px;}
#pro_detail_modal .pro_form .sec_title{font-size: 18px; font-weight: 700; text-align: center; margin-top: 0;}
#pro_detail_modal .pro_form input{border-radius: 0; padding: 0 12px; border-color: transparent; box-shadow: none;
    height: 30px; border-bottom: 1px solid #ccc;}
#pro_detail_modal .pro_form textarea{resize: none; border-radius: 0; padding: 0 12px; border-color: transparent; box-shadow: none; height: 100px; border-bottom: 1px solid #ccc;}
#pro_detail_modal .pro_form .btn-default{color: #fff; background: #333; border-color: #fff; padding: 6px 15px; text-transform: capitalize; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
#pro_detail_modal .pro_form .btn-default:hover, #pro_detail_modal .pro_form .btn-default:focus, #pro_detail_modal .pro_form .btn-default:active{background: #F06D27; border-color: #F06D27; color: #fff; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
.partner .pro_form{}
.partner .pro_form .sec_title{font-size: 18px; font-weight: 700; text-align: center;}
.partner .pro_form input{border-radius: 0; padding: 0 12px; border-color: transparent; box-shadow: none;
    height: 30px; border-bottom: 1px solid #ccc;}
.partner .pro_form textarea{resize: none; border-radius: 0; padding: 0 12px; border-color: transparent; box-shadow: none; height: 100px; border-bottom: 1px solid #ccc;}
.partner .pro_form .btn-default{color: #fff; background: #333; border-color: #fff; padding: 6px 15px; text-transform: capitalize; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
.partner .pro_form .btn-default:hover, #pro_detail_modal .pro_form .btn-default:focus, #pro_detail_modal .pro_form .btn-default:active{background: #F06D27; border-color: #F06D27; color: #fff; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
.contact .archive_categories {margin-top: -20px;}
.contact .category_box{padding: 25px 10px 15px; background: #F7F7F7 !important; border-radius: 5px; box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.08);}
.contact .category_box ul li{float: left; width: 33.333%; border-right: 1px solid rgba(0, 0, 0, 0.05); padding: 0 15px;}
.contact .category_box ul li .category_icon {display: block !important; text-align: center; font-size: 25px; width: 50px; height: 50px; line-height: 50px;  margin: 0 auto; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); border-radius: 50%; background: #fff; color: #696969;}
.contact .category_box ul li .content, .contact .category_box ul li .content p,.contact .category_box ul li .content a{display: block !important; font-size: 13px !important; color: #000; text-align: center; font-weight: 600; text-decoration: none; margin: 0;}
.contact .category_box ul li .content{padding: 10px 0 0;}
.contact .map_form{padding: 20px 0;}
.contact .map_form .category_box{margin-top: -70px; background: #fff !important;}
.contact .map_form .sec_title {font-size: 18px; font-weight: 700; text-align: center;}
.contact .map_form input{border-radius: 0; padding: 0 12px; border-color: transparent; box-shadow: none;
    height: 30px; border-bottom: 1px solid #ccc;}
.contact .map_form textarea{resize: none; border-radius: 0; padding: 0 12px; border-color: transparent; box-shadow: none; height: 100px; border-bottom: 1px solid #ccc;}
.contact .map_form .btn-default{color: #fff; background: #333; border-color: #fff; padding: 6px 15px; text-transform: capitalize; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
.contact .map_form .btn-default:hover, .contact .map_form .btn-default:focus, .contact .map_form .btn-default:active{background: #F06D27; border-color: #F06D27; color: #fff; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}



button{display: block; float: none; text-transform: uppercase; font-size: 14px; color: #ffffff; background-color: #00A4EE; border-color: #00A4EE; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
button:hover , button:active, button:focus{background-color: #26447F; border-color: #26447F; color: #ffffff; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
ul{ padding-left: 0; list-style: none; margin: 0;}
.btn-default{color: #fff; background: #333; border-color: #fff; padding: 6px 15px; text-transform: capitalize; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}
.btn-default:hover, .btn-default:active, .btn-default:focus{background: #F06D27; border-color: #F06D27; color: #fff; -webkit-transition: all ease-in 0.5s; transition: all ease-in 0.5s;}

.top_banner{position: relative;}
.top_banner .caption{position: absolute; left: 5%; top: 0; color: #fff;}
.top_banner .caption .tittle{font-size: 36px; font-weight: bold; color: #fff; text-shadow: 1px 1px 3px #333;}
.top_banner .caption p{font-size: 16px; text-shadow: 1px 1px 3px #333; font-weight: 400; margin: 0;}
/*.top_banner .bread_caption{position: absolute; right: 5%; top: 40%;}
.top_banner .bread_caption .breadcrumb{background: transparent; margin: 0;}
.top_banner .bread_caption .breadcrumb li{}
.top_banner .bread_caption .breadcrumb li a{}
.top_banner .bread_caption .breadcrumb li.active{}*/

.archive_categories{margin-top: -20px;}
.archive_categories .category_box{padding: 25px 10px 15px; background: #fff; border-radius: 5px;    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.08);}
.archive_categories .category_box ul{}
.archive_categories .category_box ul li{float: left; width: 33.333%; border-right: 1px solid rgba(0, 0, 0, 0.05); padding: 0 15px;}
.archive_categories .category_box ul li:last-child{border-right: none;}
.archive_categories .category_box ul li a{display: inline-block;}
.archive_categories .category_box ul li .category_icon{display: inline-block;}
.archive_categories .category_box ul li .content{display: inline-block; font-size: 16px; color: #000;
    font-weight: 600;}
.pro_category{padding: 25px 0 0;}
.pro_category .side_category{}
.pro_category .side_category .heading{background: #ddd; border-radius: 5px 5px 0 0; border-bottom: 1px solid #fff;}
.pro_category .side_category .title{font-size: 18px; margin: 0; display: block; border: none;}
.pro_category .side_category .title:before, .pro_category .side_category .title:after{display: none;}
.pro_category .side_category .category_list{}
.pro_category .side_category .category_list li{}
.pro_category .side_category .category_list .panel{border-radius: 0; margin-bottom: 0;}
.pro_category .side_category .category_list .panel-primary {border-color: #F7F7F7; border-bottom-color: #fff;}
.pro_category .side_category .category_list .panel-primary>.panel-heading{color: #333;background-color: #F7F7F7; border-color: #F7F7F7;}
.pro_category .side_category .category_list .panel-primary>.panel-heading .panel-title{margin-top: 0;
    margin-bottom: 0; font-size: 14px; color: inherit; text-transform: uppercase; font-weight: 600;}
.pro_category .side_category .category_list .panel-primary>.panel-heading .panel-title a{display: block; text-decoration: none;}
.pro_category .side_category .category_list .panel-primary>.panel-heading span{margin-top: -20px;    font-size: 11px; width: 25px; height: 25px; background: #fff; text-align: center; line-height: 25px; border-radius: 50%;}
.pro_category .side_category .category_list .panel-primary .panel-body{background: #EAEAEA;     font-size: 13px; font-weight: 300; display: none;}
.pro_category .side_category .category_list .panel-primary .panel-body ul li a{font-size: 13px; font-weight: 300; color: #333;}
.pro_block{border-left: 1px solid rgba(0, 0, 0, 0.08);}
.pro_block .block{margin-bottom:30px; -webkit-transition: all ease 0.5s; transition: all ease 0.5s;}
.pro_block .block:hover{box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1); transform: translateY(-4px);
    z-index: 9999; -webkit-transition: all ease 0.5s; transition: all ease 0.5s;}
.pro_block .block a{}
.pro_block .block .pro_caption{background: #F5F5F5; border-bottom: 2px solid #F06D27;}
.pro_block .block .pro_caption .pro_tittle a{display: block; text-align: center; text-transform: uppercase; color: #333; text-decoration: none; font-weight: 400; padding: 5px 5px 0;}
.pro_block .block .pro_caption .pro_brand a{display: block; text-align: center; color: #333;  text-decoration: none; font-weight: 400; padding: 0 5px 5px;}



.clickable{
    cursor: pointer;   
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}
 


































/* MEDIA QUERY********************************/
@media screen and (max-width: 1920px) and (min-width: 1800px) {
}
@media screen and (max-width: 1700px) and (min-width: 1600px) {
    .home_about .openhr .triborder{width: 100%;}
}
@media screen and (max-width: 1400px) and (min-width: 1366px) {
  }
@media screen and (max-width: 1024px) {
	header .nav_menu .navbar-nav{width: 80%;}
  .home_about .header{padding: 23px 0 0;}
}
@media screen and (max-width: 980px) {
	.navbar-brand{width: 130px;}
	header .nav_menu .navbar-nav > li > a{font-size: 12px; padding: 10px 7px !important;}
	header .nav_menu .navbar-nav{padding: 11px 0;}
	footer .footer_list.enquiry{margin-top: 30px;}
  .home_pro .pro_block .block{margin-bottom: 30px;}
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 767px) {
	.navbar-brand{width: auto;}
	.home_pro .owl-carousel.home_new_pro .owl-nav .owl-prev{left: 0;}
	.home_pro .owl-carousel.home_new_pro .owl-nav .owl-next{right: 0;}
	header .nav_menu .navbar-toggle{position: absolute; right: 0; top: 14px;}
	header .nav_menu .navbar-nav{padding: 0; width: 100%;}
	header .nav_menu .navbar-nav li{display: block;}
	header .nav_menu .navbar-nav > li > a::after{display: none;}
	header .nav_menu .navbar-nav > li > a{text-align: left;}
	header .nav_menu .navbar-nav > li > a:hover{color: #fff; background: #F06D27;}
	.mega-dropdown-menu{padding: 0;}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{padding: 0;}
  .pro_category .side_category {margin-bottom: 30px;}
}
@media screen and (max-width: 640px) {
  .archive_categories .category_box ul li a{display: block;}
  .archive_categories .category_box ul li .category_icon{display: none;}
  .archive_categories .category_box ul li .content{display: block; text-align: center;}
  .archive_categories .category_box{padding: 15px;}
  .archive_categories .category_box ul li{width: 100%; padding: 5px 15px; border-right:none;  border-bottom: 1px solid rgba(0, 0, 0, 0.05);}
  .archive_categories .category_box ul li:last-child{border-bottom: none;}
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 480px) {
  .col_480_12{width: 100%;}
	.col_480_10{width: 80%; float: none; margin: 0 auto;}
  .top_banner{height: 150px;}
  .top_banner img{height: 100%;}
  .archive_categories{margin-top: 20px;}
  .archive_categories .category_box{background: #F7F7F7;}
  .partner .archive_categories .category_box{background: #fff !important; border: 1px solid rgba(0, 0, 0, 0.08);}
  .contact .map_form .category_box{margin-top: 20px; border: 1px solid rgba(0, 0, 0, 0.08);}

}
@media screen and (max-width: 414px) {
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) {
}